<html>
    <head>
        <!-- development version, includes helpful console warnings -->
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>
        <div id="app">
            {{ message }}
        </div>

        <div id="app-2">
            <span v-bind:title="message">
                Hover your mouse over me for a few seconds
                to see my dynamically bound title!
            </span>
        </div>
        <div id="app-3">
            <span v-if="seen">Now you see me</span>
        </div>
        <div id="app-4">
            <ol>
                <li v-for="todo in todos">
                    {{ todo.text }}
                </li>
            </ol>
        </div>
        <div id="app-5">
            <p>{{ message }}</p>
            <button v-on:click="reverseMessage">Reverse Message</button>
        </div>
        <div id="app-6">
            <p>{{ message }}</p>
            <input v-model="message">
        </div>
        <div id="app-7">
            <ol>
                <todo-item 
                  v-for="item in groceryList"
                  v-bind:todo="item"
                  v-bind:key="item.id"
                ></todo-item>
            </ol>
        </div>
        <div id="app-8">
            <ol>
                <todo-item
                  v-for="item in list"
                  v-bind:todo="item"
                  v-bind:key="item.id"
                ></todo-item>
            </ol>
        </div>
        <div id="example">
            <p>Original message: "{{ message }}"</p>
            <p>Computed reversed message: "{{ reversedMessage }}"</p>
            <b>Today is: {{ now }}</b>
        </div>
        <div id="example2">
            <p>private message: "{{ reversedMessage() }}" <b>recived : "{{ now() }}"</b></p>
        </div>
        <div id="example3">
            {{ fullName }}
        </div>
        <div id="watch-example">
            <p>
                Ask a yes/no question:
                <input v-model="question">
            </p>
            <p>{{ answer }}</p>
        </div>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                message: 'Hello Vue!'
            }
        })
        var app2 = new Vue({
            el: '#app-2',
            data: {
                message: 'you loaded this page on ' + new Date().toLocaleDateString()
            }
        })
        var app3 = new Vue({
            el: '#app-3',
            data: {
                seen: true
            }
        })
        var app4 = new Vue({
            el: '#app-4',
            data: {
                todos : [
                    { text: 'Learn Javascript' },
                    { text: 'Learn Vue' },
                    { text: 'Build something awesome' }
                ]
            }
        })
        var app5 = new Vue({
            el: '#app-5',
            data: {
                message: 'Hello Vue.js'
            },
            methods: {
                reverseMessage: function() {
                    this.message = this.message.split('').reverse().join('')
                }
            }
        })
        var app6 = new Vue({
            el: '#app-6',
            data: {
                message: 'Hello Vue!'
            }
        })
        Vue.component('todo-item', {
            props: ['todo'],
            template: '<li>{{ todo.text }}</li>'
        })
        var app7 = new Vue({
            el: '#app-7',
            data: {
                groceryList: [
                    { id: 0, text: 'Vegetables'},
                    { id: 1, text: 'Cheese'},
                    { id: 2, text: 'Human food'}
                ]
            }
        })
        var app7 = new Vue({
            el: '#app-8',
            data: {
                list: [
                    { id: 0, text: '<span style="red">This should be red</span>'},
                    { id: 1, text: '<span style="blue">This should be blue</span>'},
                    { id: 2, text: '<span style="green">This should be green</span>'}
                ]
            }
        })
        var vm = new Vue({
            el: '#example',
            data: {
                message: 'you can have the world as long as I have the galaxy'
            },
            // computed properties
            computed: {
                reversedMessage:{ 
                    // getter, provided by default by Vue, without need for defininf but it can be defined as such.
                    get: function () {
                    return this.message.split('').reverse().join('')
                    },
                    // setter, this is not provided by default and must be implemented if it is to be used
                    set: function (val) {
                        var names = val.split(' ')
                        this.firstName = name[0]
                        this.lastName = name[name.length - 1]
                    }
                },
                now: function() {
                    return Date.now()
                }
            }
        })
        var vm2 = new Vue({
            el: '#example2',
            data: {
                message: 'an important message'
            },
            methods: {
                reversedMessage: function () {
                    return this.message.split('').reverse().join('')
                },
                now: function() {
                    return Date.now()
                }
            }
        })
        // watch property
        var vm3 = new Vue({
            el: '#example3',
            data: {
                firstName: 'Foo',
                lastName: 'Bar',
                fullName: 'Foo Bar'
            },
            watch: {
                firstName: function (val) {
                    this.fullName = val + ' ' + this.lastName
                },
                lastName : function (val) {
                    this.fullName = this.firstName + ' ' + val
                }
            }
        })
        var watchExample = new Vue({
            el: '#watch-example',
            data: {
                question: '',
                answer: 'I cannot give you an anwser until you ask a question'
            },
            watch: {
                question: function (newQuestion, oldQuestion) {
                    this.answer = 'Waiting for you to stop typing...'
                    this.debouncedGetAnswer()
                }
            },
            created: function() {
                this.debouncedGetAnswer = _.debounce(this.getAnswer, 500)
            },
            methods: {
                getAnswer: function () {
                    if (this.question.indexOf('?') === -1) {
                        this.answer = 'Questions usually contain a question mark.'
                        return
                    }
                    this.answer = 'Thinking...'
                    var vmm = this
                    axios.get('https://yesno.wtf/api').then(function (response) {
                        vmm.answer = _.capitalize(response.data.answer)
                    }).catch(function (error) {
                        vmm.answer = 'Error! couldnot reach the API. ' + error
                    })
                }
            }
        })
    </script>
</html>